asgiref==3.8.1
build==1.2.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Django==5.1
django-appconf==1.0.6
django-axes==6.5.1
django-compressor==4.5.1
django-cors-headers==4.4.0
django-redis==5.4.0
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.8
packaging==24.1
pillow==10.4.0
pip-tools==7.4.1
pyproject_hooks==1.1.0
rcssmin==1.1.2
redis==5.0.8
requests==2.32.3
rjsmin==1.2.2
setuptools==74.0.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.2
wheel==0.44.0
whitenoise==6.7.0
