{% extends 'basesSU/cadBase.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 ">
  <div class="card form-card shadow w-50" style="margin-left: 20vh;">
      <div class="card-body fadeIn">
          <h2 class="mb-5 text-center">Cadastro novo usuario</h2>
          <form id="signup-form" action="{% url 'salvar' %}" method="POST">
              {% csrf_token %}

              <div class="mb-2">
                  <label for="full-name" class="form-label">Nickname</label>
                  <input type="text" id="full-name" name="nickname" class="form-control" required>
              </div>

              <div class="mb-2">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" id="username" name="username" class="form-control" required>
              </div>

              <div class="mb-2">
                  <label for="password" class="form-label">password</label>
                  <input type="text" id="password" name="password" class="form-control" required>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-dark btn-lg" style="height: 70px; width: 100px;">Dark</button>
            </div>
        </form>
  </div>
</div>
{% endblock %}
