{% extends 'basesSU/baseLogged.html' %}

{% block title %}Página Específica{% endblock %}

{% block content %}
<div class="custom-jumbotron">
    <div class="container">
        <div class="p-5 text-center" id="main-content">
            <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
                <!-- Ícone do Bootstrap -->
            </svg>
            <h1 class="text-body-emphasis">Olá, {{ user.username }}</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Deseja realizar qual operação? <code>Cadastrar / Deletar</code>, temos mais escolhas...
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill btn-jump" type="button" href="{% url 'cadastrar' %}">Cadastrar Usuário
                    <svg class="bi ms-2" width="24" height="24">
                        <use xlink:href="#arrow-right-short" />
                    </svg>
                </a>
                <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill btn-jump" id="manage-users-link" type="button" href="{%url 'listar' %}">Gerenciar Usuários</a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}