{% extends 'basesSU/baseLogged.html' %}

{% load static %}

{% block title %}Página Específica{% endblock %}

{% block content %}
    
<main class="col-md-9 ms-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="jumbotron">
          <h1 class="display-4">Gerenciamento Gudys</h1>
          <p class="lead">Navegador</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Eventos</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de eventos</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Design</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de Design</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Jornalismo</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de Jornalismo</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Movcall/Movchat</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de Movcall/Movchat</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Recrutamento</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de Recrutamento</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <img src="" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title"> Suporte</h5>
                <p class="card-text">redirecionamento e pipipopo para dash de suporte</p>
                <a href="#" class="btn btn-primary">Ir para dashboard</a>
              </div>
            </div>
          </div>
         
  </main>



{% endblock %}