{% extends "basesSU/baseLogged.html" %}

{% block content %}
<div class="profile-container-user">
  <div class="profile-card-user shadow overflow">
    <nav class="navbar-expand-lg user-navbar">
        <div class="collapse navbar-collapse" id="navbarUser">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#info">Informações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'redirectUserPassword' %}"> Senhas e Segurança</a>
            </li>
          </ul>
        </div>
    </nav>
    <div id="header"></div>
    <div id="profile">
      <div class="profile-image-user">
        <img src="{{ user.photo.url }}" alt="Profile Picture">
      </div>
      <div class="profile-name-user">
        {{ user.nickname }}
      </div>
      <div class="profile-nickname-user">
        {{ user.id_user }}
      </div>
    </div>

    <div class="info-card-user">
      <dl class="row mb-0">
        <dt class="col-sm-3">User ID:</dt>
        <dd class="col-sm-9">{{ user.id_user }}</dd>
        
        <dt class="col-sm-3">Username:</dt>
        <dd class="col-sm-9">{{ user.username }}</dd>
        
        <dt class="col-sm-3">Nickname:</dt>
        <dd class="col-sm-9">{{ user.nickname }}</dd>
        
        <dt class="col-sm-3">Area:</dt>
        <dd class="col-sm-9">
          <div class="role-list">
              <span class="badge badge-outline-pill" data-role="{{ user.area }}">{{ user.area }}</span>
          </div>
        </dd>

        <dt class="col-sm-3">IDADE:</dt>
        <dd class="col-sm-9">{{ user.age }}</dd>

        <dt class="col-sm-3">Ativo:</dt>
        <dd class="col-sm-9">{{ user.is_active|yesno:"Ativo,Inativo" }}</dd>

        <dt class="col-sm-3">Admin:</dt>
        <dd class="col-sm-9">{{ user.is_admin|yesno:"Sim,Não" }}</dd>
      </dl>

      <div class="divider"></div>

      <form method="POST" action="{% url 'updateProfile' user.username %}"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="file" class="" id="inputGroupFile02" name="photo">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>

        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" value="{{ user.nickname }}">

        <label for="area">Area:</label>
        <input type="text" id="area" name="area" value="{{ user.area }}">

        <label for="age">IDADE:</label>
        <input type="text" id="age" name="age" value="{{ user.age }}">

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      // Identifique o cargo do usuário e aplique a classe CSS correspondente
      const userArea = "{{ user.area }}".toLowerCase();
      const badge = document.querySelector('.badge-outline-pill');
      if (badge) {
          badge.classList.add(`area-${userArea}`);
      }
  });
</script>
{% endblock %}
