{% extends "basesSU/baseLogged.html" %}

{% block content %}
<div class="profile-container">
  <div class="profile-card shadow overflow">
    <div id="header"></div>
    <div id="profile">
      <div class="profile-image">
        <img src="https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg" alt="Profile Picture" />
      </div>
      <div class="profile-name">
        Daft Punk
      </div>
      <div class="profile-nickname">
        @daftpunk
      </div>
      <div class="profile-location">
        <i class="material-icons">place</i> Europe
      </div>
      <div class="profile-bottom">
        <span class="profile-following">
          <span class="profile-count">170</span> following
        </span>
        <span class="profile-followers">
          <span class="profile-count">1M</span> followers
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
