{% extends "basesSU/baseLogged.html" %}

{% block content %}
<div class="profile-container">
  <div class="profile-card shadow overflow">
    <div id="header"></div>
    <div id="profile">
      <div class="profile-image">
        <img src="https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg" alt="Profile Picture" />
      </div>
      <div class="profile-name">
        Daft Punk
      </div>
      <div class="profile-nickname">
        @daftpunk
      </div>
      <div class="profile-location">
        <i class="material-icons">place</i> Europe
      </div>
      <div class="profile-bottom">
        <span class="profile-following">
          <span class="profile-count">170</span> following
        </span>
        <span class="profile-followers">
          <span class="profile-count">1M</span> followers
        </span>
        <div class="Profile-Conteudo">
          <dl class="row mb-0">
            <dt class="col-sm-3">Description lists</dt>
            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                    
            <dt class="col-sm-3">Euismod</dt>
            <dd class="col-sm-9">
                <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                <p>Donec id elit non mi porta gravida at eget metus.</p>
            </dd>
                    
            <dt class="col-sm-3">Malesuada porta</dt>
            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                    
            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
            <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                    
            <dt class="col-sm-3">Nesting</dt>
            <dd class="col-sm-9">
                <dl class="row mb-0">
                    <dt class="col-sm-4">Nested definition list</dt>
                    <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                </dl>
            </dd>
        </dl>
                                                        
        </div>
      </div>
    
    </div>
    
    </div>
    
  </div>
</div>
{% endblock %}
