{% extends 'basesSU/baseListar.html'%}

{% block content %}
<div class="container my-4">

    <div class="d-flex justify-content-end align-items-end mb-3">
      <a type="button" class="btn btn-outline-info btn-jump" type="button" href="{% url 'cadastrar' %}">cadastrar</a>
      <form class="d-flex" role="search" action="{% url 'listar' %}" method="get">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{% if query %}{{ query }}{% endif %}">
        {% if query %}
            <a href="{% url 'listar' %}" class="btn btn-outline-secondary">
                <i class="bi bi-x-circle"></i>
            </a>
        {% endif %}
        <button class="btn btn-outline-success button-click-animation" type="submit">Search</button>
    </form>                         
    </div>
</div>

<div class="card fade-in">
<div class="card-body ">
</div>
<div class="table-container">
<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Nickname</th>
          <th scope="col">Username</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Staff</th>
          <th scope="col">Ativo</th>
          <th scope="col">Ações</th>
      </tr>
  </thead>
  <tbody>
      {% for user in page_obj %}
      <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.nickname }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.is_staff }}</td>
          <td>{{ user.is_active }}</td>
          <td>
              <button type="button" class="btn btn-info btn-jump me-2" data-bs-toggle="modal" data-bs-target="#modalUser{{ user.id }}">Ver</button>
              <a class="btn btn-warning btn-jump" data-bs-toggle="modal" data-bs-target="#updateModal{{ user.id }}">Editar</a>
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'delete' user.id %}">
                  Deletar
              </button>
          {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
