{% extends "basesSU/baseLogged.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="custom-form fade-in">
          <form id="submit-form" class="needs-validation" novalidate action="{% url 'submitRelatorio' %}" method="POST">
            {% csrf_token %}
            <!-- Formulário para o Relatório -->
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="data" class="form-label">DATA</label>
                <input type="text" class="form-control" name="data" id="data" placeholder="DATA" required>
                <div class="invalid-feedback">Por favor, entre com uma data válida.</div>
              </div>
              <div class="col-sm-6">
                <label for="horario" class="form-label">HORÁRIO</label>
                <input type="text" class="form-control" name="horario" id="horario" placeholder="HORÁRIO" required>
                <div class="invalid-feedback">Por favor, entre com um horário válido.</div>
              </div>
              <div class="col-12">
                <label for="supervisores" class="form-label">SUPERVISORES</label>
                <input type="text" class="form-control" name="supervisores" id="supervisores" placeholder="SUPERVISORES" required>
                <div class="invalid-feedback">Por favor, entre com os supervisores.</div>
              </div>
              <!-- Campos CALL e STAFF lado a lado com largura reduzida -->
              {% for item in items %}
              <div class="row g-3">
                <div class="col-sm-5">
                  <label for="call_{{ item.index }}" class="form-label">CALL {{ item.index }}</label>
                  <input type="text" class="form-control" name="call_{{ item.index }}" id="call_{{ item.index }}" placeholder="CALL">
                </div>
                <div class="col-sm-5">
                  <label for="staff_{{ item.index }}" class="form-label">STAFF {{ item.index }}</label>
                  <input type="text" class="form-control" name="staff_{{ item.index }}" id="staff_{{ item.index }}" placeholder="STAFF">
                </div>
              </div>
              <hr class="my-2">
              {% endfor %}
            </div>
            <button class="w-100 btn btn-primary btn-lg custom-button" type="submit">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
